<!DOCTYPE html>
{% extends "base.html" %}

{% block content %}

<div>
        {% comment %} not uppercasing {% endcomment %}
    <h1>{{ todo_list.title | upper }}</h1>
</div>

<ul>
    {% for todo in object_list %}

    <li>
        <div role = 'button' onclick = "location.href = '{% url "item_update" todolist_list.id todo.id %}'">
            
            {{todo.title}} 
            {{todo.due_date}}
    
        </div>
    </li>

    {% empty %}
        <p> no items </p>
    {% endfor %}

</ul>

<div>
    <input type = 'button' value = 'add new items' onclick = "location.href = '{% url "item_add" %}'"></input>

</div>

{% endblock %}